@import './sass-config';

.container {
    @include flexCenter($dirction: column, $justify-content: flex-start);
    flex-grow: 1;
    width: 100%;
    padding: 0 2rem;

    .nav-container {
        @include flexCenter($justify-content: space-between);
        width: 100%;
        max-width: 500px;
        height: 2.3rem;
        margin-top: 2rem;
        border-radius: 3px;
        overflow: hidden;
        padding: 0;
        background-color: #1b1b1b;

        & > * {
            width: 50%;
            height: 100%;
            @include flexCenter();
            cursor: pointer;

            &:hover {
                background-color: rgb(24, 24, 24);
            }

     
        }

        .active {
            background-color: #0070f3;
            transition: background-color 250ms ease;
    
            &:hover {
                background-color: #0070f3;
            }
        }

    }

    .form-card {
        @include flexCenter();
        position: relative;
        margin: 4rem 0 2rem 0;
        width: 100%;
        max-width: 500px;
        height: 350px;
        background-color: #1e1e1e;
        transition: height 250ms ease;
        border-radius: 5px ;
        padding: 1rem;

        .form-container {
            @include flexCenter($dirction: column, $justify-content: space-between);
            width: 100%;
            height: 100%;
            opacity: 0;
            animation: fade 250ms ease forwards;
            animation-delay: 200ms ;
            max-width: 350px;

            & > * {
                margin-bottom: 2rem ;
            }

            .message-container {
                width: 100%;
                min-height: 38px;
                max-height: 60px;
                margin-bottom: .5rem;
            }

            .form {
                width: 100%;
                margin: 1rem 0;

                .password-input {
                    @include flexCenter($justify-content: space-between);

                    & > input {
                        width: 47%;
                    }
                }
            }

            @keyframes fade {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            a {
                color: #0d6efd;
                margin: 0;
            }
        }

        .profile-container {
            width: 100%;
            height: 100%;
            max-width: 350px;
            @include flexCenter($dirction: column, $justify-content: flex-start);

            .profile-pic {
                @include flexCenter();
                max-width: 100px;
                max-height: 100px;
                border-radius: 50%;
                overflow: hidden;
                background-color: gray;
                // padding: 1px;
                margin-bottom: 3rem;

                img {
                    width: 130%;
                    height: 130%;
                }
            }

            .info {
                h4 {
                    color: #82847F;
                }
            }

            .update-info {
                @include flexCenter($justify-content: space-between);
                width: 100%;
                margin-top: auto;
                margin-bottom: 1.5rem;

                 a {
                    background-color: #0070f3;
                    padding: 10px;
                    border-radius: 5px;
                    width: 45%;
                    text-align: center;

                    &:hover {
                        background-color: #0366d7;
                    }
                    // width: 45%;
                }

            }
        }

        .logout-container {
            position: absolute;
            bottom: -20px;
            width: 20%;
        }
    }
}