@import './sass-config';

.backdrop-image {
    width: 100vw;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .movie-container {
        width: 100%;
        max-width: 1190px;
        @include flexCenter($dirction: column);
        margin: 0 auto;
        padding: 2rem 1rem;

        .overview_information {
            display: flex;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);

            .poster-container {
                animation: fadeImg 1.2s ease-in;
                width: 100%;
                max-width: 290px;
                height: 435px;
            }
            
            @keyframes fadeImg {
                0% {
                opacity: 0;
                }
                30% {
                opacity: 0;
                }
                100% {
                opacity: 1;
                }
            }

            .overview-containor {
                animation: fadeInfo 0.5s ease-in;
                padding: 1rem;

                h3 {
                    margin-right: 10px;
                    font-weight: 400;
                }

                .title {
                    font-family: Acme, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
                      Courier New, monospace;
                    text-shadow: 2px 2px 2px rgb(0, 0, 0);
                    margin-bottom: 1rem;
                }

                .ul-information {
                    padding: 10px 0;

                    li {
                          @include flexCenter($justify-content: flex-start);
                          margin-top: 10px;
                    }
                }

                .genres {
                    @include flexCenter($justify-content: flex-start);
                    padding: 10px 0;

                    ul {
                        @include flexCenter($justify-content: flex-start);
                        flex-wrap: wrap;

                        li {
                            padding: 5px;
                            background-color: #c0a300;
                            margin: 0px 3px;
                            border-radius: 2px;
                        }
                    }
                }

                .overview-story {
                    max-width: 700px;
                    max-height: 150px;
                    padding: 1rem;
                    word-spacing: 1px;
                    background-color: rgb(245, 241, 236);
                    color: black;
                    margin-top: 1rem;
                    border-radius: 5px;
                    overflow-y: scroll;
                }
            }
              
            @keyframes fadeInfo {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
            }

            .watchlist-btn {
                @include flexCenter();
                margin: 10px 0;
                width: 100%;
                max-width: 350px;
                background-color: gold;
                height: 2.3rem;
                border-radius: 3px;

                &:hover {
                    background-color: rgb(243, 208, 9);
                }

                button {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    color: #2a2a2a;
                    font-size: 16px;
                    cursor: pointer;
                    position: relative;

                    .tooltip {
                        visibility: hidden;
                        transition: opacity 350ms ease;
                        opacity: 0;
                        width: 100%;
                        min-height: 50px;
                        background-color: rgba(1, 1, 1, 0.9);
                        color: #fff;
                        @include flexCenter();
                        border-radius: 6px;
                        padding: 5px 0;
                        position: absolute;
                        z-index: 1;
                        bottom: -150%;
                        left: 0; 
                        right: 0; 
                        margin-left: auto; 
                        margin-right: auto; 
                    }

                    .tooltip::after {
                        content: "";
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: transparent transparent black transparent;
                    }

                    &:hover .tooltip {
                        visibility: visible;
                        opacity: 1;
                        
                    }
                }


                &.watchlisted {
                    background-color: #940000;
                    
                    button {
                        color: #fff;
                    }

                    &:hover {
                        background-color: #9f0000;
                    }
                }
            }
        }

        .actors {
            @include flexCenter($dirction: column);
            background-color: rgb(255, 243, 226);
            padding: 10px 15px 20px 15px;
            border-bottom: solid 0.1px rgb(207, 207, 207);
            width: 100%;

            * {
                color: black;
            }

            .actors-label {
                width: 95%;
                display: flex;
                justify-content: flex-start;
                padding: 10px;
            }

            .actors-container {
                width: 95%;
                @include flexCenter($justify-content: space-evenly);
                flex-wrap: wrap;
                animation: fadeAct 1s ease-in;

                .actor-container {
                    background-color: #fff;
                    max-width: 150px;
                    overflow: hidden;
                    margin: 5px;
                    height: 280px;

                    .actor-img {
                        width: 150px;
                        // height: 225px;
                        height: 85%;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .actor-name {
                        padding: 5px 0;
                        height: 15%;
                        width: 100%;
                        text-align: center;
                        
                        span {
                            font-size: 12px;
                            color: rgb(157, 157, 157);
                        }
                    }
                }
            }

            @keyframes fadeAct {
                0% {
                  opacity: 0;
                }
                70% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }

            .more-actors {
                width: 100%;
                @include flexCenter($alignment: flex-end);
                height: 35px;

                h4 {
                    cursor: pointer;
                    color: gray;

                    &:hover {
                        color: #000000;
                    }
                }
            }
        }

        .iframeContainer {
            @include flexCenter();
            width: 100%;
            height: 30rem;
            padding: 1rem;
            background-color: rgb(245, 241, 236);

            .trailer_container {
                @include flexCenter($dirction: column);
                width: 100%;
                max-width: 720px;

                h3 {
                    @include flexCenter($justify-content: flex-start);
                    width: 100%;
                    text-align: left;
                    color: black;
                    border-bottom: 1px solid black;
                }

                iframe {
                    margin-top: 7px;
                    width: 100%;
                    aspect-ratio: 16 / 9;
                }
            }
        }

        .similar-container {
            border-radius: 5px;
            background-color: #0f0f0f;
            margin-top: 20px;

            .similar-text {
                font-size: 25px;
                margin: 10px 15px;
                border-bottom: 1px solid gray;
                color: gray;
            }
        }
    }
}

@media (max-width: 650px) {
    .backdrop-image {
        .movie-container {
            .overview_information {
                flex-direction: column;

                .poster-container {
                    margin: 0 auto;
                    max-width: 350px;
                    height: 535px;
                }
            }
        }
    }
}
