@import './sass-config';

.form {
    width: 33px;
    height: 40px;
    border: 0.2px rgb(76, 76, 76) solid;
    border-radius: 3px;
    @include flexCenter($justify-content: space-between);
    transition: width 250ms ease;
    overflow: hidden;

    .svg-container {
        padding: 8px;
        cursor: pointer;
        @include flexCenter();
        height: 100%;


        svg {
            min-width: 16px;
            transition: transform 250ms ease;
        }

        &:hover svg {
            fill: rgb(221, 221, 221);
        }

        &:active svg {
            transform: scale(0.9);
        }

    }

    input {
        padding: 8px;   
        padding-left: 2px;
        display: none;
        width: 90%;
        height: 100%;
        background-color: transparent;
        outline: none;
        border: none;

        &::placeholder {
            color: rgb(180, 180, 180);
            font-weight: 500;
            letter-spacing: 1px;
        }
    }

    &.open {
        width: 285px;
        
        input {
            display: flex;
        }
    }

}

@media (max-width: 650px) { 
    .form {
        &.open {
            width: 100%;
        }
    }
}

